{% extends 'base.html' %}
{% block title %}Location Details{% endblock %}
{% block body %}
 
<div class="container">
  <h2>Location</h2>
  <form action="/locations" method="post">
    <div class="form-group">
      <label for="location-name"></label>
      <input type="text" class="form-control" id="location-name" placeholder="location-name" name="location-name">
    </div>
    <button type="submit" class="btn btn-primary">Add Location</button>
  </form>

  {% if error %}
      <p class="text-danger"><strong>Error:</strong> {{ error }}
  {% endif %}
  {% if locations.count == 0 %}
  <h4> There is no location. <br> Please start by adding a new location!!</h4>
  {% else %}


  <!-- Search form -->
  <div class="row">
     <div class="col-8">
     <strong>Search For : {{ tag }}</strong>
     </div>
     <div class="col-4">
      <form action="/locations" method="post" autocomplete="off"> 
      <div class="row">
       <div class="col-6">
       <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/> 
       </div>
       <div class="col-6" align="left">
          <input type="submit" value="Search" class="btn btn-primary " name=""> 
       </div>
      </form> 
      </div>
     </div> 

  
    <h2>Location Information</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>ACTION</th>
        </tr>
      </thead>
      {% for location in locations.items %}
    <tr>
        <td>{{location.id}}</td>
        <td>{{location.name}}</td>
        <td>
            <a href="/locations/{{location.id}}/update" >Update</a>
            <!-- <a href="/locations/{{location.id}}/delete" >Delete</a> -->
        </td>
    </tr>
    {% endfor %}
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if locations.has_prev %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('locations', page=locations.prev_num) }}">Previous</a></li>
          {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
          {% endif %}

          {% for page in locations.iter_pages(left_edge=3, right_edge=3) %}
            {% if page %}
      
                {% if page==locations.page %}
                  <li class="page-item active"><a class="page-link" href="{{ url_for('locations', page=page) }}">{{ page }}</a></li>
                {% else %}
                 <li class="page-item"><a class="page-link" href="{{ url_for('locations', page=page) }}">{{ page }}</a></li>
                {% endif %}
                 
               {% else %}
                <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
               {% endif %}
          
          
          {% endfor %}

          {% if locations.has_next %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('locations', page=locations.next_num) }}">Next</a></li>
          {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
          {% endif %}
 
      </ul>
      {% endif %}
</div>
  {% endblock %}